/*.App {
  text-align: center;
}

.App-logo {
  height: 160px;
  border-radius: 30px;
  grid-area: photo;
}

.App-header {
  background-color: #6C567B;
  height: 210px;
  padding: 20px;
  color: #FFF8E7;
}

.App-title {
  font-size: 2em;
  font-family: "Copperplate", Copperplate Gothic Light, sans-serif
}*/

.container {
  /*background-color: #6C567B;*/
  height: 100px;
  padding: auto;
  /*color: #FFF8E7;*/
}

.social-media-links {
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: auto
}

.name {
  color: #FFF8E7;
  font-size: 2em;
  font-family: "Copperplate", Copperplate Gothic Light, sans-serif;
  text-align: center;
  margin: auto

}

.profile-image {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  height: 150px;
  width: 150px
}
