/*.App {
  text-align: center;
}

.App-logo {
  height: 160px;
  border-radius: 30px;
  grid-area: photo;
}

.App-header {
  background-color: #6C567B;
  height: 210px;
  padding: 20px;
  color: #FFF8E7;
}

.App-title {
  font-size: 2em;
  font-family: "Copperplate", Copperplate Gothic Light, sans-serif
}*/

.container {
  /*background-color: #6C567B;*/
  height: 100px;
  padding: auto;
  /*color: #FFF8E7;*/
}

.social-media-links {
  width: 30px;
  height: 30px;
  margin: auto;
}

.name {
  /*color: #FFF8E7;*/
  color: blue;
  font-size: 3em;
  font-family: "Copperplate", Copperplate Gothic Light, sans-serif;
  text-align: center;
  margin: auto

}

.profile-image {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  height: 150px;
  width: 150px
}

.btn-primary {
  color: white;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.btn {
  font-weight: 300;
  padding: .25rem .25rem;
  font-size: 1em;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.profile-description-text {
  color: black;
  font-weight: 300;
  font-size: 1.25em;
  border: dotted;
  padding: 15px
}

.slide-container {
  width: 1110px;
  height: 400px;
  padding-left: 200px
}
